<div class="grid grid-cols-2 gap-3 auto-cols-min">
    <div class="col-span-1"><img class="w-28 float-right md:float-left md:w-28" src="../../../assets/me.png" alt=""></div>
    <div class="col-span-2 self-center">
        <p class="text-2xl font-semibold md:text-lg lg:text-xl">Collin Bartley</p>
        <p class="text-md font-thin">Monroe, MI</p>
        <a href="github.com/collinbartley" class="mr-2 bg-purple-500 bg-opacity-40 hover:bg-opacity-60">GitHub</a>
        <a class="bg-blue-400 bg-opacity-40 hover:bg-opacity-60" href="">LinkedIn</a>
        <p>collin@cobar.co</p>
    </div>
    <div class="col-span-3">
        <p class="text-xl">Hey, I'm Collin!</p>
        <p class="font-extralight">
            I'm a web engineer from SE Michigan. I love code, design, and getting to work with cool people on cool projects. Feel free to checkout my links and shoot me a message if you feel like it! 
        </p>
    </div>
</div>
