<div class="grid grid-cols-2 gap-3">
    <div class="col-span-2 w-max">
        <img class="w-24 inline-block float-left mr-2 md:w-20" src="assets/me.png" alt="Picture of Collin Bartley">
        <div class="inline-block">
            <p class="text-2xl font-semibold md:text-xl">Collin Bartley</p>
        <p class="text-md font-thin"><img class="fill-white w-4 inline opacity-70 relative bottom-0.5" src="assets/pin.svg" alt="Location Pin"> Monroe, MI</p>
        <a href="https://github.com/collinbartley" class="decoration-slate-400 inline-block mr-2 bg-purple-500 bg-opacity-40 hover:bg-opacity-60 hover:italic underline">GitHub</a>
        <a href="https://www.linkedin.com/in/collin-bartley-547227175/" class="decoration-slate-400 inline-block bg-blue-400 bg-opacity-40 hover:bg-opacity-60 hover:italic underline">LinkedIn</a>
        <a href="mailto:collin@cobar.co" class="block underline decoration-slate-400 hover:italic">collin@cobar.co</a>
        </div>
    </div>
    <div class="col-span-3">
        <h1 class="font-medium text-lg md:text-xl">👋 Hey, I'm Collin!</h1>
        <p class="font-extralight text-sm">
            I'm a web engineer located in S/E Michigan. I love code, design, and getting to work with cool people on cool projects. Feel free to checkout my links and shoot me a message if you feel like it! 
        </p>
    </div>
    <div class="col-span-2 md:col-span-3 md:border-r-0 text-sm border-r-2 border-slate-800">
        <h2 class="text-sm">some tools I like to use:</h2>
        <h2 class="inline-block m-0.5 bg-red-600 bg-opacity-40">Angular</h2> <h2 class="inline-block m-0.5 bg-red-300 bg-opacity-40">SASS</h2>
        <h2 class="inline-block m-0.5 bg-purple-400 bg-opacity-40">.NET Core</h2> <h2 class="inline-block m-0.5 bg-teal-600 bg-opacity-40">Tailwind</h2>  
         <h2 class="inline-block m-0.5 bg-purple-600 bg-opacity-40">Figma</h2> <h2 class="inline-block m-0.5 bg-green-500 bg-opacity-40">Node.js</h2>
         <h2 class="inline-block m-0.5 bg-purple-800 bg-opacity-40">NGRX</h2> <h2 class="inline-block m-0.5 bg-gray-500 bg-opacity-40">GIT</h2>
    </div>
    <div class="col-span-1 md:col-span-3 text-sm">
        <h2 class="float-left w-full">a recent project:</h2>
        <a class="float-left bg-yellow-400 bg-opacity-30 underline hover:italic hover:bg-opacity-50 decoration-slate-400" href="https://github.com/collinbartley/ebay-bot-2.0">An ebay bot for discord</a>
    </div>
</div>
