<div class="grid grid-cols-1 gap-4 max-w-2xl md:grid-flow-col md:grid-cols-3 md:max-w-4xl mx-auto p-8 md:overflow-hidden">
  <div class="col-span-1 md:col-span-1">
    <app-bio></app-bio>
  </div>
  <div class="col-span-1 md:col-span-2 overflow-y-auto overflow-x-hidden md:max-h-[90vh] md:pr-6">
    <app-entry iconPath="assets/bigbear.png" entryType="work" title="bigbear.ai | Software Engineer" startDate="4/1/2019">
      Have worked as a contributor to several Agile development teams on Department of Defense contracts. 
      As a Software Engineer, my responsibilities have centered on designing and creating components based on mockups or written text from user stories, and maintaining various Angular projects using NGRX for state, SCSS/SASS for stylesheets, NX for the Monorepo, and GIT for version control needs.
      Additionally, helping to maintain and update REST endpoints in our .NET Core server, integrating new data sources, and creating / maintaining various unit tests are other occasional responsibilities. 
      I also contribute to the UI/UX lifecycle of our project by providing mock-ups for user stories, building responsive layouts with CSS Grid and Flexbox, and by implementing components from external libraries such as PrimeNG and Angular Material.
    </app-entry>
    <app-entry iconPath="assets/mccc.png" entryType="school" title="Monroe County Community College | AS" startDate="1/1/2016" endDate="4/1/2018">
      I received an Associate of Science degree from MCCC in 2018. I took several CS fundamentals classes, with most of the coursework being completed in C++. 
      I also completed classes on communication, foreign language (french), among others. 
    </app-entry>
    <app-entry iconPath="assets/nps.png" entryType="work" title="River Raisin NBP | Student Ranger" startDate="5/1/2015" endDate="8/1/2018">
      As a member of the Kayak Team (and Kayak Team Lead), I was tasked with helping to instruct and guide large groups of intercity youth on kayak expectations. Good communication, situational awareness, levelheadedness and interpersonal skills were important in safely navigating the waters and guiding the guests. 
      As a member of the Media Team, I was tasked with assisting intermittent video and mixed-media projects for the National Park, in addition to helping maintain social media pages. 
      Received various ACA Kayak and Kayak Instructor certifications, in addition to CPR and First Aid training.
    </app-entry>
  </div>
</div>