<div class="grid grid-cols-6 mb-4">
    <div class="col-span-1">
        <img class="w-16 mx-auto relative top-3" src="{{iconPath}}" alt="organization logo">
    </div>
    <div class="col-span-5 mb-3">
        <h5 class="text-sm relative top-1" [ngClass]="entryType == 'work' ? 'text-green-400' : 'text-red-400'">{{entryType}}</h5>
        <h1 class="text-xl font-medium">{{title}}</h1>
        <h2 class="text-sm font-thin">{{start}} - {{end}} ({{amountOfTime(start, end)}} yrs)</h2>
    </div>

    <div class="col-span-1 bg-white opacity-5 bg-opacity-40 w-1 mx-auto relative bottom-1">
    </div>
    <div class="col-span-5">
        <p class="font-extralight"><ng-content></ng-content></p>
    </div>
</div>
